.about {    
    background-color: $secondary-color;     
    iframe {       
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        @media (max-width: $large) {
            width:90%;
        }
    }
}

