html {
    font-size: 10px;
}

body {
    font-family: $primary-font;
    color: $primary-color;
    text-align: center;    
}

section {
    padding-top: 100px;
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;    
    
    @media (min-width: $small) {
        font-size: 3.2rem;
    }
    @media (min-width: $large) {
        font-size: 3.6rem;
    }
    @media (min-width: $xlarge) {
        font-size: 4rem;
    }
}

.paragraph {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 24px;    
    margin-top: 40px;
    padding: 0 20px;
    @media (min-width: $small) {
        font-size: 1.6rem;
    }
    @media (min-width: $large) {
        font-size: 1.8rem;
    }
    @media (min-width: $xlarge) {
        font-size: 2rem;
    }
}

.line {
    width: 45px;
    height: 4px;
    background-color: #dddbdb;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.br-on-mobile {
    display: none;
}