.br-on-mobile {
    @media (max-width: $small) {
        display: block;
    }
}

.header {
    color: #1a2733;
    box-sizing: border-box;
    height: 100vh;  
    padding-top: 270px;
    text-transform: uppercase;
    background-image: url("/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    @media (max-width: $large) {        
        width: 100%;
        height: 100vh;
        padding-top: 200px;
    }
    h1 {
        font-size: 4.5rem;
        font-weight: 700;
        letter-spacing: 3px;
        @media (min-width: $small) {
            font-size: 4.8rem;
            margin-top: 100px;
        }
        @media (min-width: $large) {
            letter-spacing: 9px;
            font-size: 5.2rem;
            margin-top: 0;
        }
        @media (min-width: $xlarge) {
            font-size: 5.6rem;
        }
    }    
    h2 {               
        font-size: 2.4rem;
        font-weight: 400; 
        letter-spacing: 5.75px;        
        margin-top: 34px;  
        @media (min-width: $small) {
            font-size: 2.8rem;
        }
        @media (min-width: $large) {
            font-size: 3.2rem;
            margin-top: 74px;
        }
        @media (min-width: $xlarge) {
            font-size: 3.6rem;
        }
    }
    p {              
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 29px;        
        letter-spacing: 0.9px;        
        margin: 0 20px; 
        margin-top: 61px;         
        @media (min-width: $large) {
            padding: 0 25px;
            font-size: 1.8rem;            
        }        
    }
    &__arrow {        
        margin-top: 80px;  
    }
}

