.our-work {    
    padding-bottom: 50px;
    margin-bottom: 50px;      
    background-color: $secondary-color;
    @media (max-width: $small) {        
        padding: 20px 0;
    }     
    &__slider {
        margin: 50px auto;
        @media (max-width: $small) {
        padding: 20px;
        
    }   
        
        img {
            width: 90%;
            margin: 0 auto;
        }
    }
}