.we-are {
    background-color: #f6f6f6;
    padding-bottom: 100px;
    margin-top: 50px;    
    &__workers {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 59px;        
        flex-wrap: wrap;
        @media (max-width: $small) {            
            text-align: center;
        }        
        .worker {
            flex-shrink: 0;
            margin-left: 11px; 
            margin-bottom: 25px;
            flex-basis: 90%;
            @media (min-width: $small) {
                flex-basis: 35%;
            }
            @media (min-width: $xlarge) {
                flex-basis: 20%;
            }
            &__info {
                color: #282528;   
                text-align: center;
                @media (max-width: $small) {
                        text-align: center;
                }
                &__name {                                    
                    font-size: 1.8rem;
                    font-weight: 700;                    
                    margin-top: 21px;   
                    @media (min-width: $small) {
                        font-size: 2rem;
                    }
                    @media (min-width: $large) {
                        font-size: 2.2rem;
                    }
                    @media (min-width: $xlarge) {
                        font-size: 2.4rem;
                    }                    
                }
                &__position {
                    font-size: 1.4rem;
                    font-weight: 300;                    
                    margin-top: 8px;
                    @media (min-width: $small) {
                        font-size: 1.6rem;
                    }
                    @media (min-width: $large) {
                        font-size: 1.8rem;
                    }                    
                }
            }
        }
    }
}
