.what-we-do {
    background-color: $secondary-color;
    padding-bottom: 50px;
    @media (min-width: $large) {
        padding-bottom: 100px;
    }    
    .activities {
        display: flex;
        justify-content: center;
        align-items: space-around;
        margin-top: 66px;
        @media (max-width: $large) {
            flex-wrap: wrap;
        }
        &__item {
            padding: 0 30px;
            @media (max-width: $large) {
                flex-basis: 100%;
                margin-bottom: 50px;
            }
            &__title {
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 2.25px;
                padding-top: 20px;
                @media (min-width: $small) {
                    font-size: 2.3rem;
                }
                @media (min-width: $xlarge) {
                    font-size: 2.5rem;
                }    
            }
            &__text {
                font-size: 1.2rem;
                padding-top: 20px;
                @media (min-width: $small) {
                    font-size: 1.4rem;                    
                } 
                @media (min-width: $xlarge) {
                    font-size: 1.8rem;
                }  
                margin-top: 20px;
            }           
            }
        }
    }
